<p>css-styler works!</p>
<pre>backgroundColor: <input    type="color"
                                [ngModel]="cssStyle.backgroundColor"
                                (ngModelChange)="update({backgroundColor: $event})"
                                />
    borderColor: <input type="color"  
                        [ngModel]="cssStyle.borderColor"
                        (ngModelChange)="update({borderColor: $event})"/>
   borderRadius: <input type="number" /> <select >
    <option value="px">px</option>
    <option value="%">%</option>   
</select>          
</pre>